<h1>Giỏ hàng</h1>
<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Thành tiền</th>
        <th>Thao Tác</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sp in cart">
            <th>{{$index +1}}</th>
            <td>{{sp.name}}</td>
            <td > <input type="number" ng-model='sp.quantily' ></td>
            <td>{{sp.price}}</td>
            <td>{{sp.price * sp.quantily}}</td>
            <td>
                <button ng-click="delete(sp.id)" type="button" class="btn-close"></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Tổng</th>
            <th>{{tinh()}}</th>
            <th><button ng-click="deleteAll(sp)" class="btn btn-danger">Xoá hết</button></th>
        </tr>
    </tfoot>
</table>
</div>

