<h3 class="title-head m-2"> Chi tiết sản phẩm: {{id}}</h3>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2 card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary rounded text-white">
                    <i class="fas fa-list"></i>
                    <strong>Chủng loại</strong>
                </li>
                <a href="#" class="list-group-item">Giày
                    <span class="badge bg-info rounded-pill">50</span>
                </a>
                <a href="#" class="list-group-item">Áo
                    <span class="badge bg-info rounded-pill">16</span>
                </a>
                <a href="#" class="list-group-item">Quần
                    <span class="badge bg-info rounded-pill">16</span>
                </a>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="public/img/{{sp.img}}" class="img-fluid rounded-start m-3 mx-5" alt="...">
        </div>
        <div class="col-md-6 ">
            
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tên hàng:
                        <span class="badge bg-primary">{{sp.name}}</span>
                    </li>
                    <li class="list-group-item">Đơn giá: 50$</li>
                    <li class="list-group-item">Nhà cung cấp:</li>
                    <li class="list-group-item">Chủng loại</li>
                    <li class="list-group-item">Hàng mới nhập</li>
                    <li class="list-group-item">Số lượng
                        <span class="badge bg-info">5</span>
                    </li>
                    <li class="list-group-item">Giảm giá:
                        <span class="badge bg-warning">5%</span>
                    </li>
                    <li  class="list-group-item">
                    <button href="#" class="btn btn-primary mt-3" ng-click="mua(sp)">Mua</button>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

  <h3>Hàng liên quan</h3>
      <hr>
      <img style="height: 50px; max-width: 5%; border-radius: 2px; border: 1px solid rgb(51, 142, 142);" src="public/img/{{sp.img}}" class="img-thumbnail m-3" alt="...">
      <img style="height: 50px; max-width: 5%; border-radius: 2px; border: 1px solid rgb(51, 142, 142);" src="public/img/{{sp.img}}" class="img-thumbnail m-3" alt="...">
      <img style="height: 50px; max-width: 5%; border-radius: 2px; border: 1px solid rgb(51, 142, 142);" src="public/img/{{sp.img}}" class="img-thumbnail m-3" alt="...">
      <img style="height: 50px; max-width: 5%; border-radius: 2px; border: 1px solid rgb(51, 142, 142);" src="public/img/{{sp.img}}" class="img-thumbnail m-3" alt="...">


      