
    <section class="mymaincontent" >
      <div class="container">
        <div class="main-index">
            <!-- Main wrapper -->
            <div class="main-wrapper section" id="main" name="Phần chính của trang"><div class="widget Blog" data-version="2" id="Blog1">
            <div class="blog-posts hfeed container">
            <div class="blog-posts">
            <section class="bread-crumb">
            <div class="container">
            <div class="row">
            <div class="col-12 a-left">
            <ul class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
            <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="#" itemprop="item">
            <span itemprop="name">Trang chủ</span>
            </a>
            <span class="mr_lr"> / </span>
            <meta content="1" itemprop="position">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <strong><span itemprop="name">Giới thiệu</span></strong>
            <meta content="2" itemprop="position">
            </li>
            </ul>
            </div>
            </div>
            </div>
            </section>
            <section class="page">
            <div class="container">
            <div class="wrap_background_aside padding-top-15 margin-bottom-40">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title-block-page">
            <h1 class="title-head">Giới thiệu</h1>
            </div>
            <div class="content-page rte">
            <p>POCO MART là hệ thống siêu thị thuộc tập đoàn EGO, Việt Nam. Hệ thống này khai trương ngày tháng 11 năm 2019. Theo thống kê của Vietnam Report, tính đến tháng 11/2020, PocoMart nằm top 2 nhà bán lẻ được người tiêu dùng quan tâm nhất và top 4 trên bảng xếp hạng 10 nhà bán lẻ uy tín năm 2020</p><p><br></p><p>Tháng 5 năm 2021, POCO Mart có khoảng 40 siêu thị và khoảng hơn 600 cửa hàng Pocomart trên gần 50 tỉnh thành với tổng diện tích mặt bằng kinh doanh hơn 300.000 m2, số lượng nhân viên khoảng hơn 3.000 người.</p><p><br></p><p>Các sản phẩm của PocoMart bao gồm thực phẩm tươi sống, thực phẩm sơ chế, quần áo, mỹ phẩm, đồ gia dụng, văn phòng phẩm, đồ chơi, v.v.</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </section>
            </div>
            </div>
            </div></div>
            <!-- /Main wrapper -->
            </div>
      </div>
      
      
    </section>
    